{%extends 'distbase.html'%}
{%block content%}
<div style="height: 100%;" class="bg-dark">
<div style="text-align: center; border:2px solid;width:50%; margin:auto" class=" bg-white"><i class="far fa-check-circle fa-10x mx-auto text-success mt-3"></i>
    <div class="h1 mt-3 text-success">Product Found..!</div>
    <!-- <div class="h4 mt-5"> Product ID &ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp; :  {{val.pid}}</div> -->
    <div class="h4 mt-5"> Product Name &ensp;&ensp;&ensp;&ensp;&ensp;:  {{val.pname}}</div>
    <div class="h4 mt-3"> Manufactured Date &ensp;:  {{val.mdate}}</div>
    <div class="h4 mt-3"> Expiry Date &ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;:  {{val.edate}}</div>
   
   {% if val.ver%}
    <button class=" btn-primary mt-5" data-bs-toggle="modal" data-bs-target="#verifymodal">Verify..?</button>
    {%else%}
    <div class="h4 mt-3"> verified &ensp;&ensp;&ensp;&ensp;&ensp;:&ensp;&ensp;&ensp;<i class="far fa-check-circle  mx-auto text-success mt-3"></i> </div>
    {%endif%}
    <p style="color: white;" class="mt-5">.</p>
    <p style="color: white;" >.</p>
    <!-- <form action="/manuf/addp" method="POST">
        {% csrf_token %}

        <input type="button">
        </form> -->
</div>
</div>

<!-- verify modal -->
<div class="modal fade" id="verifymodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Verify Product</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
         <!-- verify form -->
         <form action="/dist/verifyproduct" method="POST">
          {% csrf_token %}
          <fieldset class="row mb-3">
            <legend class="col-form-label col-sm-2 pt-0">Valid</legend>
            <div class="col-sm-10">
              <div class="form-check">
                <input class="form-check-input" type="radio" name="category" id="gridRadios1" value="0" >
                <label class="form-check-label" for="gridRadios1">
                  No
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="category" id="gridRadios2" value="1" checked>
                <label class="form-check-label" for="gridRadios2">
                  Yes
                </label>
              </div>
            </div>
            <input type="text" name="pid" value={{val.pid}} style="visibility:hidden">
            <button type="submit" class="btn btn-primary align-right position-end">Submit</button>
          </form>
        </div>
      </div>
    </div>
   </div>
  
{%endblock%}