{%extends 'distbase.html'%}
{%block content%}
<div style="height: 100%;" class="bg-dark">
<div style="text-align: center; border:2px solid;width:50%; margin:auto" class=" bg-white "><i class="fa fa-times-circle-o fa-10x mx-auto text-danger"></i>
    <div class="h1 mt-3 text-danger">Sorry No product Found..!</div>
    <!-- <div class="h4 mt-5"> Product ID &ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp; :  {{val}}</div> -->
    <div class="h4 mt-5"> Product Name &ensp;&ensp;&ensp;&ensp;&ensp;:  {{val}}</div>
    <div class="h4 mt-3"> Manufactured Date &ensp;:  {{val}}</div>
    <div class="h4 mt-3"> Expiry Date &ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;:  {{val}}</div>
    <p style="color: white;" class="mt-5">.</p>
    <p style="color: white;" class="mt-5">.</p>
    <p style="color: white;" >.</p>
</div>
</div>

{%endblock%}